[2014-01-30 13:12] robert-bor opened #1 "Add configurable option to remove overlapping matches"
The basic Aho-Corasick algorithm returns all matches, whether they overlap or not. It should be possible to eliminate overlaps, so that the series of matches is interspersed in non-matching text, never in or between matches.

Example:
- keywords: "ab", "cba", "ababc"
- searchtext: ababcbab
- basic result: ab@1, ab@3, ababc@4, cba@6, ab@7
- non-overlapping result: ababc@4, ab@7

Conflict resolution

[2014-02-01 19:06] robert-bor opened #2 "Ascertain only entire words are taken into consideration"
For example:
- keyword: "sugar"
- searchtext: "sugarcane"

In this case the match must not be made, or removed afterwards.

[2014-02-01 19:07] #1 closed, assigned to robert-bor

[2014-02-01 19:35] robert-bor opened #3 "Allow checks versus lowercase only"
When a text is entered, it may contain combinations of upper and lower case characters. If the casing is not important to the matching, it is possible to convert the entire search text into lower case to allow for more matches to be found.

[2014-02-01 20:04] robert-bor opened #4 "There must be a call that returns tokens instead of Emits"
Based on the original search text, the Trie must be able to return tokens. A token can either be plaintext or a match.

When it is a match, it should hold the original emit besides the original text.

[2014-02-01 20:59] #3 closed, assigned to robert-bor

[2014-02-01 21:00] #2 closed, assigned to robert-bor

[2014-02-01 21:00] #4 closed, assigned to robert-bor

[2014-02-07 19:34] xcurry opened #5 "String out of bound exception"
java.lang.StringIndexOutOfBoundsException: String index out of range: 311
    at java.lang.String.charAt(String.java:658)
    at org.ahocorasick.trie.Trie.removePartialMatches(Trie.java:119)
    at org.ahocorasick.trie.Trie.parseText(Trie.java:103)

Loading "/usr/share/dict/words" as the dictionary and searching for
String text = "aardvark aardvarks aardwolf aardwolves Aaren Aargau aargh Aarhus Aa

[2014-02-08 11:45] #5 closed, assigned to nobody

[2014-02-14 22:17] xcurry opened #6 "Possible to emit non-matches"
Apologies, maybe bad use of 'issues' for this, but is it possible to emit non-matches only?

Example: match list is : {"foo", "bar", "blah"}

Sentence is: "this is foo xx yyy bar aaa blah"

will emit

{this is xx yy aaa}

[2014-02-14 22:56] #6 closed, assigned to nobody

[2014-02-15 00:25] xcurry opened #7 "Stack overflow error"
java.lang.StackOverflowError
    at java.util.ArrayList.iterator(ArrayList.java:814)
    at org.ahocorasick.interval.IntervalNode.determineMedian(IntervalNode.java:43)
    at org.ahocorasick.interval.IntervalNode.<init>(IntervalNode.java:17)
    at org.ahocorasick.interval.IntervalNode.<init>(IntervalNode.java:36)
    at org.ahocorasick.interval.IntervalNode.<init>(IntervalNode.java:36)
    at org

[2014-02-15 10:48] #7 closed, assigned to robert-bor

[2014-07-14 20:39] dwyerk opened #8 "Unicode offset problem?"
I added the following test case to TrieTest.java and it fails:

[code]

Notice the capital I with a dot. The code thinks the offsets are at 6, 9 and that actually causes `trie.tokenize(target)` to crash because 9 is past the end of the string. That character is two bytes wide, so it seems to be pushing the offset calculation off.

[2014-08-26 07:48] #8 closed, assigned to nobody

[2014-08-27 03:10] IVANOPT opened #10 "Suggestions about the type of emits in State.java"
Hi, Rober :
Thanks for your help, i fix the dumplicate problems by using static constructor. The codes showing below :

[code]

However, one user may create repetitive keywords, then ahocorasick's results will be repetitive.
So, i suggest that in State.java, change the type of emits from List to Set.

[code]

become

[code]

It's my points, hope it helps.

[2014-08-27 06:40] #10 closed, assigned to nobody

[2014-09-13 14:36] dlutz2 opened #12 "Case insenstive setting presumes keywords are lowercase?"
Robert
 Thanks for the code. I noticed that for  case insensitive matching, Trie.parseText() reduces the input text to lower case but the keywords are left in their original case (as added). So for the situation where
  trie.addKeyword("Alpha");
and
Collection<Emit> emits = trie.parseText("Alpha");
no matches are returned when case insensitive = true

Adding
            if (trieConfig.isCaseInsens

[2014-09-25 05:15] ashpriom opened #13 "Build error"
Hi Mr. Robert,

I'm trying to implement your code. I put the following dependency -

        <dependency>
        	<groupId>org.ahocorasick</groupId>
        	<artifactId>ahocorasick</artifactId>
        	<version>0.2.4</version>
    	</dependency>

I'm getting the following error on mvn install-

<pre>priom@ASUS-S551LA:~/Public/6461/aho$ mvn -e install
+ Error stacktraces are turned on.
[INFO] Sc

[2015-01-17 22:22] valentijnscholten opened #16 "NullPointerExceptions"
Hi,

I am getting frequent NullPointerException inside Trie.java

    Caused by: java.lang.NullPointerException
    	at org.ahocorasick.trie.Trie.getState(Trie.java:138)
    	at org.ahocorasick.trie.Trie.parseText(Trie.java:99)

Looks like currentState can be null because failure() can return null?

        private State getState(State currentState, Character character) {
            State newCurr

[2015-02-04 16:03] sashavasko commented on #16
I'm guessing this is happening because you add new keywords after calling parseText or tokenize.
To fix that addKeyword needs to be modified to force failure states construction on next parseText :
add
failureStatesConstructed = true;

at the end of Trie.addKeyword()

[2015-03-26 13:53] mcarlsen commented on #16
It is also possible that there is a race condition in the the first invokation of parseText where multiple threads may enter constructFailureStates and cause mayhem.

A work-around that seems to work for me is to call parseText once - after all addKeyword are done and while still single-threaded - so that constructFailureStates is triggered exactly once.

[2015-08-06 07:23] mattsheppard opened #20 "NullPointerException under parseText - Perhaps due to non-thread safety?"
Hi, I saw the following exception reported from the parseText method, but haven't bee able to reproduce it in my development environment.

[code]

I'm wondering if it's possibly being caused by using a single Trie from multiple threads simultaneously (though hammering it from a number of threads on my machine doesn't exhibit a problem).

Should I expect calling parseText on a single Trie from mult

[2015-08-24 06:55] venkatvizury opened #21 "parseText() API in Trie is not thread safe"
Hi Robert,

Thanks for your help. I have constructed Trie with keywords upfront and calling the parseText() API on the constructed Trie in a multithreaded env getting NullPointerException. Could you please help us by providing the Thread-Safe Code.

[2015-09-01 12:36] wangxiangtao opened #22 "Stop Search once find any result"
Hi robert,

Is it possible to add a feature or another method to stop searching the tire once find any keyword.

because i have requirement which only want to check exist or not.

it will be more efficient if have this function.   think it is easy to add it to make the library more stronger:)

Thanks

[2015-09-21 19:05] robert-bor opened #23 "Cater for callback handler on parseText"
It must be possible to call parseText with a callback handler. In this situation, emits will not be stored in the list, but instead for every emit, a call will be made to the callback handler.

To guarantee backwards compatibility, the system must use a default handler which stores the emits as it does now and returns the list in the end.

[2015-09-22 17:27] robert-bor commented on #22
How about you are able to set the configuration like this:

[code]

The library will stop once it emits at least once.

Note that multiple emits may have been generated.

[2015-09-22 17:29] #22 closed

[2015-09-22 18:14] #16 closed

[2015-09-22 18:14] #20 closed

[2015-09-22 18:14] #21 closed

[2015-09-22 18:14] #23 closed

[2015-09-22 18:15] robert-bor commented on #13
Check the unit tests, particularly TrieTest.java. It contains a number of examples that you can run yourself to see them work.

[2015-09-22 18:15] #13 closed

[2015-09-22 18:36] ashpriom commented on #13
I understand Mr. Robert. Thank you.
Best regards,

Syed

Sincerely,
Syed Ashfaque Uddin Priom
ashpriom.com
--------------------------

On 22 September 2015 at 14:15, Robert Bor <notifications@github.com> wrote:

[2015-09-22 20:08] #12 closed

[2015-09-27 12:03] robert-bor opened #24 "Refactor the aho-corasick implementation"
The current implementation has grown bloated under the various change requests. Also, the check for whole words and non-overlapping matches is done by post-processing the found emits. Because of this, the interactive algorithm run does not support checking for whole words and non-overlaps, only the full run does.

Goal:
* have an implementation which make a single run similar to the original algor

[2015-09-27 16:00] robert-bor commented on #24
Most functionality in place now, with some changes:
* when non-overlap has been set, emit candidates are cleaned up (ie, arranged into a non-overlapping sequence) as they were previously in the post-processing
* iterator functionality is not included in this issue

[2015-09-27 16:00] #24 closed

[2015-09-27 16:03] robert-bor opened #25 "Tokens must report on their whole word status"
When the tokenize method is used, a single token must report whether it is a whole word or not.

The definition for whole word in Trie must be reused.

[2015-09-27 16:21] #25 closed

[2015-09-27 18:41] robert-bor opened #26 "Fragment tokens must report if they consist completely of whiteSpace"
When the tokenize method is used, a single token must report itself as whiteSpace if it consists completely of whitespace characters.

[2015-09-27 18:54] #26 closed

[2015-11-24 12:16] nyilmaz opened #28 "Making Trie Serializable"
For instance in the case of caching to some third party provider like memcached (and since building a `Trie` is not a cheap computation), `Trie` should implement `Serializable` interface. Could you provide this feature?

[2015-12-11 07:35] almondtools opened #29 "Different results as other String matching algorithms"
I used your algorithm to compare the results with my suite of algorithms. Differences occurred.

I cannot say if they are related to wrong usage. You may reproduce the problem
* by checking out https://github.com/almondtools/stringbench (just to have the right dependencies)
* use following unit test

		@Test
		public void testACAhoCorasick1() {
			MultiPatternMatcherBenchmark benchmark = new ACAho

[2015-12-17 15:32] alexeygrigorev commented on #28
+1

[2016-01-15 20:56] almondtools commented on #29
The API of Stringbench has changed, yet AhoCorasick does again not produce consistent results. So I excluded it. An ignored test is kept in the tests of the string bench project, so if you come back to this issue you can fix it an trigger a pull request.

[2016-01-15 20:56] #29 closed

[2016-01-26 22:54] rajanjana opened #30 "Maintaining additional node information"
Hi,

First of all thanks for providing an implementation of the algorithm.

Wanted to check -
Is there a way to maintain additional information along with each keyword/node within the trie data structure ? Basically whenever there is a match, I would like to retrieve corresponding match information.

For example,
Assume we have 10 documents each having distinct words. I can create the trie by addi

[2016-02-29 12:59] Yrlec opened #31 "Improving performance with TCharObjectHashMap"
Hi,
Thanks for this excellent library! We've just started using in all our clients for our backup service [https://degoo.com](https://degoo.com) and it has helped us speed up our progress calculations a lot.

When profiling I noticed that (at least in our use case) it spends quite a lot of time calling this.success.get(character) in State. In our case >50% of all execution time is spent there. My

[2016-03-02 19:12] robert-bor commented on #31
Hi Carl. You're probably right. Why exactly do you think the TCharObjectHashMap is faster?

[2016-03-02 19:17] robert-bor commented on #30
Hi Rajan. That is not possible with this library. I would recommend forking the library and patching it to be able to do what you require.

[2016-03-02 19:35] rajanjana commented on #30
Hi Robert,

Thanks for the reply. I analyzed the changes I need to make to support this feature and seems like it is much more involved work to support additional information per node. Let me take a look at it and see how it can be done best. I will provide more information once I have any concrete update. Once again thank you for the implementation.

Thanks,
Rajan Jana

[2016-03-02 19:38] robert-bor commented on #30
You're welcome! Good luck with the envisioned change.

[2016-03-02 19:38] #30 closed

[2016-03-19 21:55] broadhu2 opened #32 "Missing null check in Emit.toString()"
Using version 0.3.0. I tried this code on a test file in Eclipse:

[code]

and received a `java.lang.NullPointerException`. I changed it to the following and got expected behavior (no more `NullPointerException`):

[code]

I think you are missing a `null` dereference check somewhere in your overrided `toString()` implementations. Minor issue, but also easy to fix.

[2016-03-26 15:43] broadhu2 opened #33 "caseInsensitive() must be called before addKeyword()"
Hi,

I noticed that if you call `caseInsensitive()` configuration method after `addKeyword(...)` method then `trie.firstMatch()` and anything else that returns an `Emit` type will always return `null` for those keywords added before calling the case insensitive configuration method. This can be avoided by calling the `caseInsensitive()` configuration method before calling `addKeyword(...)` method

[2016-05-22 17:13] cldellow commented on #31
In my experience, the alternative collections libaries like Trove, Goldman Sachs, HFTC, etc can sometimes perform better when primitives are involved. I don't know the details of why--avoiding unboxing? different hashing techniques? No clue.

I tried Carl's suggestion and used a TCharObjectHashMap to benchmark one of my usecases, where the trie has 200K case-sensitive keywords. It reduced parseTex

[2016-06-07 05:56] wangxiangtao commented on #28
+1

[2016-07-17 21:05] cyberjoac opened #35 "Behavior at scale"
Hello,

I tried using the algorithm when scanning for 6M of values, but I got a Java out of heap space error.
`java.lang.OutOfMemoryError: Java heap space`

What would be the changes needed to support Aho-Corasick at scale ?
Could augmenting the heap space of the JVM be sufficient or is a bigger refactoring needed to support scale ?
Any alternatives (either AC or another algorithm) that could scal

[2016-08-09 05:29] almondtools opened #36 "Performance Issue with Overlaps"
I encountered a performance problem, documented in a Unit-Test https://github.com/almondtools/stringbench/blob/master/src/test/java/com/almondtools/stringbench/incubation/ACAhoCorasickIncubationTest.java.

I tracked down the reason: The `removeOverlaps`-Method removes overlaps in an inefficient way. The experiments show, that following section is the critical one:

[code]

Doing this on an ArrayLi

[2016-08-09 05:36] almondtools commented on #35
Maybe you want to consider [StringAndChars ](https://github.com/almondtools/stringsandchars). It is tested against large documents in my project [StringBench](https://github.com/almondtools/stringbench).

Yet I tried to compare StringsAndChars it with AhoCorasick, but the latter fails with a performance problem (https://github.com/robert-bor/aho-corasick/issues/36), maybe both issues are dependent

[2016-08-18 07:25] RayOsLei opened #37 "I want to kown how to make keystoneV3 work in Joss?"

[2016-08-21 01:01] humanzz commented on #28
I've just sent a new [pull request](https://github.com/robert-bor/aho-corasick/pull/38) for that. It's based on the work done in this [older pull request](https://github.com/robert-bor/aho-corasick/pull/11).

[2016-08-22 00:03] humanzz opened #39 "Upper/lower case issues with non-english texts"
Hello,
I was using the ahocorasick library to perform some text processing on English Wikipedia dump. As it contains several non-english words, it lead me to discovering an issue in how the library handles cases.

I wrote a test case to explain it. Here it is
[code]

The whole problem happens when lower-casing the keyword has a different length than the original keyword. I can't think of a quick e

[2016-08-22 01:24] humanzz commented on #39
Building on the fix to unicode issues in https://github.com/robert-bor/aho-corasick/issues/8, I fixed the reported problem.

[2016-11-28 00:59] DaveJarvis opened #42 "Add list of keywords to Trie"
The Trie class should take an array and/or of keywords. Rather than:

[code]

It should be possible to add them all at once:

[code]

[2016-11-28 01:11] DaveJarvis opened #43 "Pluggable Trie Implementations"
It would be illuminating to compare various Trie implementations to see if there can be any significant performance gains to be made.

# Implementations

- https://commons.apache.org/proper/commons-collections/apidocs/org/apache/commons/collections4/trie/PatriciaTrie.html
- http://www.stochasticgeometry.ie/2008/05/06/implementing-hat-tries-in-java/ (incomplete)
- https://github.com/colindean/autoc

[2016-11-30 00:55] isapir commented on #42
Looks like it's the `Trie.TrieBuilder` class and not `Trie` itself, but a big **+1** from me.

[2016-11-30 01:22] DaveJarvis commented on #42
Fix is on branch. Takes a list, an argument list, or a CharacterSequence.

[2016-11-30 01:22] #42 closed

[2016-11-30 06:12] DaveJarvis commented on #35
Perhaps using [BigList](http://www.magicwerk.org/page-collections-download.html) will resolve the issue?

[2016-11-30 06:14] DaveJarvis commented on #36
See issue #35, which suggests a different list implementation for DefaultEmitHandler.

[2016-11-30 06:14] #36 closed

[2016-11-30 06:25] DaveJarvis commented on #32
The `Emit` `toString` method:

[code]

The `super.toString` is null-safe:

[code]

The start and end values are primitives, so they cannot be null.

The `Trie.firstMatch` method, line 187 can return null, and probably does if there are no matches. This could throw an exception, instead. Either way, the toString method looks fine.

Re-open if you disagree.

[2016-11-30 06:25] #32 closed

[2016-11-30 06:27] DaveJarvis commented on #28
@humanzz, any chance of getting a fix on the pull request so it passes the check-in requirements?

[2016-11-30 06:29] DaveJarvis commented on #37
Cannot address this issue without more details.

@RayOsLei, please provide more information, if possible, on what you would like to accomplish.

Re-open if this issue is still hampering your progress.

[2016-11-30 06:29] #37 closed

[2016-11-30 06:35] DaveJarvis commented on #33
Added comments to a new branch. Will be included in the next release.

[2016-11-30 06:35] #33 closed

[2016-11-30 12:43] robert-bor commented on #37
This relates to another open source project I worked on: http://javaswift.org/

[2016-11-30 18:32] broadhu2 commented on #32
That is fine with me. Thank you for the explanation.

[2016-11-30 18:33] broadhu2 commented on #33
Thanks!

[2016-12-02 02:23] isapir opened #49 "Allow to specify Payload with Keyword"
It'd be great if each keyword could have an associated object that is used as a payload.  That way the Trie can store associated data with each keyword, and Emits can retrieve that data in addition to just the keyword and its index position.

[2016-12-02 03:24] DaveJarvis commented on #49
Do you have a use case for this? It's a good idea, but might be out of scope. As alternative would be to let Trie be subclassed so you could write:

[code]

Within MyTrie, you could do something like:

[code]

This would allow data customizations, post-processing, and other Liskov-respectful behaviours.

[2016-12-02 06:27] isapir commented on #49
I believe that there are many use cases for this.

Currently, I am planning to use it with several different sets of keywords, each set has different "definitions", and each keyword might have its own definitions.  The definitions describe the type of the keyword, and other information, e.g. how the keyword should be "processed" if matched.

As it is now, I need to maintain a separate Map that wil

[2016-12-02 08:44] hathija opened #50 "Use regexp in keywords"
Hello,

First of all, i would like to thanks this project which really help me in some of my projects.

Can you advice me if it can be possible to use keyword in keywords ?
If yes, how can you do that ?

Thanks for the reply,

[2016-12-02 08:49] robert-bor commented on #50
An interesting thought experiment I went through myself as well. If you look at the underlying algorithm, you will come to understand why regular expressions are not support. Basically, the algorithm create a tree-structure of letters, where the branches of the tree form the search words. Doing this enables you to very efficiently search a text for multiple words. However, the price you pay is the

[2016-12-02 08:49] #50 closed

[2016-12-02 16:37] DaveJarvis commented on #49
See also:

- http://stackoverflow.com/questions/17164375/subclassing-a-java-builder-class
- http://www.artima.com/weblogs/viewpost.jsp?thread=133275
- http://egalluzzo.blogspot.ca/2010/06/using-inheritance-with-fluent.html
- http://stackoverflow.com/a/10941465/59087

[2016-12-02 19:07] isapir commented on #49
Yes, there are different ways to handle this, but I still think that there is a very valid reason to implement this proposal.

I would argue that in most cases more information is needed for each keyword than the just the string (keyword) itself.  It's great to find fast that the input string contains keywords in the Trie, but what do you do with that information next?  If you're just doing a find

[2016-12-02 19:39] DaveJarvis commented on #49
The [Open-Closed Principle](https://en.wikipedia.org/wiki/Open/closed_principle) suggests that we should keep Trie as generic as possible (i.e., simple searches, no payload) and provide a `PayloadTrie` subclass (or however named).

I agree: there are lots of situations where a payload is useful. For those situations where a payload is not required (e.g., simple search and replace), then the payloa

[2016-12-02 19:58] isapir commented on #49
Fair enough.

How do you feel about adding a `PayloadTrie` (or however named) class to the project?

[2016-12-02 21:00] DaveJarvis commented on #49
I think it's a good idea, @isapir, and it'll be quite useful for others.

Would you like to implement it and issue a PR? It'll probably require changes to the Trie class so that it can use builder subclasses.

[2016-12-02 21:01] isapir commented on #49
I will look into it.  Thanks.

[2017-02-19 12:01] sunnights opened #51 "When to publish the 0.3.1 version?"
hello, I'm wondering about what's the time to publish the 0.3.1 version on maven repository?

[2017-02-28 16:56] DaveJarvis commented on #51
As far as I know, there are no concrete plans.

[2017-03-01 05:13] robert-bor commented on #51
Hi @sunnights , release v0.3.1 has been pushed to Maven Central. It should pop up within 24 hours.

[2017-03-01 05:13] #51 closed

[2017-03-01 09:52] plokhotnyuk opened #52 "Pom file for 0.3.1 release cannot be found on the maven central"
It is listed, but cannot be downloaded from here:
http://repo1.maven.org/maven2/org/ahocorasick/ahocorasick/0.3.1/

[2017-03-01 10:10] robert-bor commented on #52
Hi @plokhotnyuk . That's correct, just pushed it this morning. It should pop up somewhere within the next 20 hours or so.

[2017-03-01 10:10] #52 closed

[2017-03-01 10:29] plokhotnyuk commented on #52
@robert-bor I see that other files (jars and hashsumes) are available, so I'm not sure that .pom file will be available w/o reporting to the maven central support

[2017-03-03 12:53] robert-bor commented on #52
Maven Central publication takes some time to fully publish. Does it work for you now?

[2017-03-03 18:32] plokhotnyuk commented on #52
No, it doesn't. Now whole release directory returns 404

[2017-03-07 12:44] plokhotnyuk commented on #52
Now it works for me.

[2017-04-10 10:28] Crystark opened #53 "Allow to ack emits"
Hi,

I was taking a look at how `storeEmit` works (https://github.com/robert-bor/aho-corasick/blob/master/src/main/java/org/ahocorasick/trie/Trie.java#L277) and thought it could be nice if the `emitted` boolean was based on a value returned by `emitHandler.emit`. This would allow us to do additional checks on values before acking an emit and thus taking advantage of `isStopOnHit`.

In my case, I h

[2017-04-12 18:15] DaveJarvis commented on #53
[code]

Could be:

[code]

Would that help?

[2017-04-13 07:05] Crystark commented on #53
Thanks for your reply

The idea is that on [L282](https://github.com/robert-bor/aho-corasick/blob/master/src/main/java/org/ahocorasick/trie/Trie.java#L282) the code could be adapted like that:

[code]
That allows for the emitHandler to say if yes or no an entry was acked by it. Note the `|| emitted` at the end of the line that garanties that once `emitted` is true it doesn't switch back to false.

[2017-04-14 04:54] DaveJarvis commented on #53
[code]

Can be:

[code]

No need to track the old value of emitted.

[2017-04-14 07:50] Crystark commented on #53
If you do that and `isStopOnHit` is false and say some entries in the loop were "emitted" but not the last one, then `storeEmits` will return `false`.
It won't have an impact on the `parseText` method but it kinda breaks what the returned boolean means which originally is "did we successfully emit something ?". That's the only reason why I was making sure `emitted` stays true.

[2017-04-14 08:42] DaveJarvis commented on #53
Yes, you are correct, the `|| emitted` is necessary.

[2017-04-18 05:22] robert-bor commented on #53
Great idea, @Crystark . Approved.

[2017-04-18 07:17] Crystark commented on #53
Great :) I'm looking forward to the new release!

[2017-04-18 07:54] robert-bor commented on #53
If you want, feel free to draw up a pull request and make your mark on this library as a contributor :)

[2017-04-18 17:54] Crystark commented on #53
I'll see if I can find some time but i probably won't be able to do it before next week.

[2017-05-15 14:11] Crystark commented on #53
@robert-bor there you go. Better late than never ;)

[2017-05-15 18:55] robert-bor commented on #53
Thanks @Crystark !

[2017-05-15 18:55] #53 closed

[2017-06-08 22:11] kanesee opened #56 "README outdated: .caseInsensitive()"
README tutorial uses deprecated .caseInsensitive() instead of .ignoreCase()

[2017-06-09 00:52] DaveJarvis commented on #56
Updated documentation to use .ignoreCase().

[2017-06-09 00:52] #56 closed

[2017-07-15 08:53] LiuSai-Dream opened #57 "have u tried this test case"
[code]
when I run the test case above, it outputs nothing.

[2017-07-15 08:53] #57 closed

[2017-07-19 14:30] garimamannan opened #58 "Use this algorithm for url matching (strings)"
Can this algo be modified to accomplish URL pattern matching to return exact (best) match instead of first match?
modify State.java to have String instead of Character and compare strings based on "/" tokenizer in a way that doesn't impact performance?

[2017-07-19 19:49] DaveJarvis commented on #58
Have you tried making the change and profiling the difference?

[2017-08-15 03:07] greenlaw110 opened #59 "Performance concern"
I have a simple [microbenchmark](https://github.com/greenlaw110/java-str-benchmark/tree/string-match-algorithms) project to measure the string matching performance with different algorithms.

It looks to me Aho-Corasick performance doesn't look very cool in comparing with others:

| test scenario | String | KMP | KMP - precompiled | Aho-Corasick |
| :---         |  ---: | ---: | ---: | ---: |
| sh

[2017-08-15 05:05] robert-bor commented on #59
Took a quick look at the benchmark. From what I gather, the benchmark tests for looking for a single phrase in a text. If this is indeed the case, then you have tested correctly that this is not the strong suit of aho-corasick.

The algorithm is strongest if you look for multiple words in a text. The reason for this is that it converts the text you are searching in into a kind of index (the Trie).

[2017-08-15 06:06] DaveJarvis commented on #59
See also the benchmarks here: https://stackoverflow.com/a/40836618/59087

[2017-08-15 11:56] greenlaw110 commented on #59
Thanks @robert-bor and @DaveJarvis I will revamp the test case

[2017-10-31 00:30] LukeButtersFunnelback opened #61 "Stop Trie#removePartialMatches() from being O(n^2)"
Hi
`org.ahocorasick.trie.Trie.removePartialMatches(CharSequence, List<Emit>)` is slow when the given list is large. The problem is because of the n^2 running time where a list of `Emit`s to delete is made and then each one is removed (not by index) from the list.

If you are happy to move to java 8 the change you need to make to speed this up is to change the method to be removePartialMatches:
[co

[2017-10-31 00:36] SageAgastya commented on #61
In fact its actually 1941053(ms) -> 142(ms)

[2017-10-31 16:11] DaveJarvis commented on #61
Keep in mind that not all organizations (due to red tape) have moved to Java 8 (e.g., governments). Instead, I'd recommend adding a fast list implementation that is open source.

* http://www.magicwerk.org/res/collections/javadoc/org/magicwerk/brownies/collections/BigList.html
* http://www.magicwerk.org/page-collections-download.html

Another possibility is to use a linked list for the collected e

[2017-10-31 20:13] LukeButtersFunnelback commented on #61
It is still extremely slow using the iterator, probably because of the shifting everything from the right to the left.

[2017-10-31 20:36] LukeButtersFunnelback commented on #61
Doing something like:
[code]
and then using it with:
[code]
results in pretty good performance

[2017-10-31 21:41] DaveJarvis commented on #61
Another set of ideas: https://stackoverflow.com/a/2048374/59087

A LinkedList looks like it'll perform well.

[2017-10-31 21:56] LukeButtersFunnelback commented on #61
Trying it out it seems like a linked list performs poorly (using the iterator method).

[2017-10-31 22:00] LukeButtersFunnelback commented on #61
So I think using the following makes sense as it is fast for array list and isn't super horrible for linked lists.
Would you like a MR?
[code]

[2017-10-31 22:11] DaveJarvis commented on #61
Yes, please, with `final` modifiers where possible.

Incidentally, is there a way to eliminate the creation of a `new ListHelper()` per `removePartialMatches` call?

Thanks for the help and effort.

[2017-11-01 05:21] LukeButtersFunnelback commented on #61
Made the pull request https://github.com/robert-bor/aho-corasick/pull/62

I did make the new array list the size of the given list.

[2017-11-01 16:05] #61 closed

[2017-11-01 19:20] LukeButtersFunnelback commented on #61
cool, thanks for accepting

[2017-12-02 01:09] matanster commented on #39
Was a solution finally merged?

[2017-12-03 01:31] DaveJarvis commented on #39
I don't believe the merge can happen until some of the conflicts have been resolved.

[2017-12-03 09:05] matanster commented on #39
Sounds like a mildly horrific bug to keep in circulation :)

[2017-12-04 07:52] matanster commented on #35
@cyberjoac any follow up on that? you haven't specified how much memory you had allocated to the JVM

[2017-12-04 09:27] cyberjoac commented on #35
@matanster, at the time we added some memory to the JVM and it fixed the issue.

[2017-12-04 09:27] #35 closed

[2018-01-03 02:27] brownfoxy opened #63 "Question on scalability of Aho Corasick implementation."
Hi,
  We are using this library for some time now.

Recently there was an OOM due to the increased size of the dictionary.
A simple test shows that memory usage is linear. (there is no attach screenshot option, sorry!)

Currently, our dictionary size is 0.75 million entries (33 MB csv file each line is a term.)

Trie constructed using this dictionary takes about 1.9GB  (heap entries below)

[code]

[2019-02-02 13:57] Immueggpain opened #64 "More flexible tokenize() function"
I was looking at the `tokenize` function, and need things like `EmitHandler`.
Then I checked the code of `tokenize`, and realized that it's actually a stage after `parseText`. So why not use a pattern like `tokenize(parseText(...))`, so we can enjoy all the new features offered by `parseText`!
Right now we already have a few `parseText` variants, and there may be more in the future!

[2019-02-02 14:20] Immueggpain commented on #64
[code]
ans use it like this:
[code]
hmmm the dup `text` looks ugly, but I really don't know how to get rid of it.

[2019-02-02 14:50] Immueggpain commented on #49
@DaveJarvis wait! you know `Trie` only has a private constructor right?

[2019-02-05 07:45] DaveJarvis commented on #49
I did at the time. Right now:

[code]

The code tightly couples the Trie, TrieBuilder, and TrieConfig, preventing further customization independently from the library itself. Seems to be a violation of the Dependency Inversion Principle. That will take a fair amount of refactoring to resolve.

[2019-03-29 23:33] LukeButters opened #65 "Improve the performance of org.ahocorasick.trie.Trie"
Hi

My profiler seems to show that a bunch of time is being spent in:
[code]
inside of
[code]

`LinkedList` is a faster implementation of `Queue` than `LinkedBlockingDeque`, I am measuring it to be about 3-4 times faster.
Could:
[code]
be changed to:
[code]

![Screenshot_20190330_103233](https://user-images.githubusercontent.com/7076477/55267597-3c9ed800-52d7-11e9-8bd7-a79b87f3c6a1.png)

[2019-08-18 19:52] danbeck commented on #49
I added a pull request that adds the possibility to add "payloads" for each keyword. See https://github.com/robert-bor/aho-corasick/pull/68

Could someone review the patch?

[2019-08-22 00:25] shikhirsingh opened #69 "Can we get a push to maven with new updates?"

[2019-08-22 04:28] DaveJarvis commented on #69
New release: https://github.com/robert-bor/aho-corasick/releases

[2019-08-22 04:28] #69 closed

[2019-08-23 09:49] YuyuZha0 commented on #65
LinkedBlockingDeque is thread-safe while LinkedList is not, it is important to make sure whether thread-safety is required.  @LukeButters

[2019-08-24 05:33] DaveJarvis commented on #65
It would be preferable to change it from:

[code]

to:

[code]

However, that's all moot since [Trie](https://github.com/robert-bor/aho-corasick/blob/master/src/main/java/org/ahocorasick/trie/Trie.java) has been refactored extensively.

If performance is still an issue, please open another ticket showing the bottleneck.

[2019-08-24 05:33] #65 closed

[2019-08-24 05:34] DaveJarvis commented on #63
Is this still an issue with the latest release @brownfoxy ?

[2019-08-24 05:35] DaveJarvis commented on #59
Closing due to no further feedback.

[2019-08-24 05:35] #59 closed

[2019-08-24 05:37] DaveJarvis commented on #58
Closing due to no answers from question.

[2019-08-24 05:37] #58 closed

[2019-08-24 05:40] #49 closed

[2019-08-25 10:11] pnakkala commented on #63
I'm not working on that project anymore. So unable to test it. Sorry!

[2019-08-25 10:12] brownfoxy commented on #63
I'm not working in that project anymore. Unable to test it. Sorry!

[2019-08-25 17:11] DaveJarvis commented on #63
Closing until the issue is reproduced.

[2019-08-25 17:11] #63 closed

[2019-08-25 22:11] LukeButters commented on #65
Hi @YuyuZha0 thanks for replying! I think that in this case it was never possible for two threads to be sharing that data structure although it was so long ago I hardly remember.

@DaveJarvis I will try out the new trie, thanks!

[2019-08-26 01:41] YuyuZha0 commented on #65
In this case, I would say `ArrayDeque` may be a good choice, it relies on array, should be more CPU-Cache friendlly. @LukeButters

[2019-11-21 09:44] fanweihua opened #72 "Can't get Version 0.6.0 from Maven Central Repository"
I can see that 0.6.0 is the latest version. But I can only refer 0.4.0 from Maven Repository. Did I miss something?

[2019-11-21 15:55] DaveJarvis commented on #72
Reverted README. Will address this in December.

[2019-11-21 15:55] #72 closed

[2020-01-20 22:35] andreas-niemoeller-qhr opened #73 "New versions unavailable on Maven Central"
I tried using the code but unfortunately version newer than 0.4.0 do not seem to be available through the Maven Central repository anymore.
Would it be possible to push the artifacts to Maven Central for 0.6.0 and future releases again?

[2020-01-23 16:46] DaveJarvis commented on #73
There are some Javadoc issues that need to be fixed before pushing. If you'd care to correct them, that would be helpful. Otherwise, I'm not going to be able to get to this for at least another month.

[2020-03-23 05:44] urisimchoni opened #74 "Question about thread safety"
Hi,

As much as I gather without going too deeply into the implementation, it looks safe to build the Trie once and then search it in parallel (call trie.parseText() on the same Trie instance from multiple threads).

This is because all the "state" of the search appears to be on local variables on the stack.

This is of course ignoring the issue of memory barriers that can be dealt with by making

[2020-03-24 15:40] DaveJarvis commented on #74
Uri, if you have time to write a unit test that tests for thread-safety, that would be incredibly helpful.

[2020-03-25 01:11] DaveJarvis commented on #74
The test looks good, so I think the question has been answered.

If you encounter any issues with threading, please re-open this comment.

[2020-03-25 01:11] #74 closed

[2020-05-11 23:48] #73 closed

[2020-05-20 13:41] tomasherman opened #77 "Production ready?"
Hello,

i would like to ask whether this library is considered production ready? or whether it's being used somewhere?

Thanks!

[2020-06-03 21:17] DaveJarvis commented on #77
There are a few issues (NPEs) that have been addressed with the most recent changes. More unit tests to complete code coverage would be useful. I've used it in https://github.com/DaveJarvis/scrivenvar without any issues for a few years now, but Scrivenvar doesn't make use of the API exhaustively.

[2020-06-05 15:18] shubhamrangadal opened #78 "Building repeatedly."
Any issues are if I do this repeatedly.

fun checkList(list):
            Trie trie = Trie.builder().stopOnHit().ignoreCase().addKeywords(list).build();
            return trie.containsMatch(text);

[2020-06-05 15:44] DaveJarvis commented on #78
Would you care to write a unit test to ensure that this behaves as you expect?

If it doesn't behave as you expect, would you mind writing up a minimal working example that clearly demonstrates the issue?

[2020-06-06 05:00] #78 closed

[2020-07-07 11:10] alexandersavin93 opened #79 "Do you plan to upload latest version to Maven Central?"

[2020-07-07 15:19] DaveJarvis commented on #79
@robert-bor, your thoughts on this?

[2020-07-13 15:49] jrideout opened #80 "Add a real license file"
This commit didn't do what I would have expected: 25c8ee663ec6387747f8827b3863a455b6362ac5
It duplicated the readme rather than creating a real license file. The real license should contain the text of https://www.apache.org/licenses/LICENSE-2.0

[2020-08-15 21:41] DNWEIJ commented on #72
please publish to maven

[2020-08-15 21:44] DNWEIJ commented on #28
any reason holding back  on incorporating the pull request?

[2020-08-15 22:46] DaveJarvis commented on #28
@DNWEIJ the PR fails to build.

[2020-08-16 19:05] DaveJarvis commented on #28
@DNWEIJ -- do you know anyone who'd be interested in finishing this PR?

[2020-09-25 15:09] austinarbor commented on #79
Not as good as maven, but you can use jitpack to get the latest version https://jitpack.io/#robert-bor/aho-corasick/v0.6.1

[2020-09-25 17:43] DaveJarvis commented on #79
In the process of getting permission from Sonatype to upload.

[2020-09-25 17:43] #79 closed

[2020-11-07 08:37] omarshibli opened #85 "PayloadTrie.parseText method inconsistencies"
Hi,

I've noticed parseText method inconsistencies if used with `onlyWholeWords` or `onlyWholeWordsWhiteSpaceSeparated` options.

Here is a test to show the issue:
[code]

Attached proposed changes to make both these use cases consistent.

Note that `ignoreOverlaps` option is still inconsistent in both usages, but it's more complicated to solve and I prefer to keep it separated from this PR.

# PR

[2020-11-10 03:00] #77 closed

[2020-11-10 03:06] #80 closed

[2020-11-10 14:20] ctmay4 opened #88 "Missing releases on Maven Central"
The latest release of the library on Maven Central is version 0.4.0 from 2017.  There have been 4 releases since then.

https://search.maven.org/classic/#search%7Cgav%7C1%7Cg%3A%22org.ahocorasick%22%20AND%20a%3A%22ahocorasick%22

Are they being released somewhere else?  Thanks.

[2020-11-10 17:00] DaveJarvis commented on #88
@ctmay4, no they haven't been released elsewhere. The original author has gone silent and I hadn't voluntarily put any of my time into figuring out how to deploy to Maven Central. I finally got around to making a release for 0.6.2 last night, but it doesn't look like it has populated the repos.

[2020-11-10 17:00] #88 closed

[2020-11-10 17:02] #85 closed

[2020-11-10 18:35] ctmay4 commented on #88
So are you not planning on getting this released to Maven Central?  Its much less usable without newer fixes being available.  If the original author is not around then you may not have the keys for deploying to Maven Central under this package.  If that is the case, the only way to deploy this will be to change the package to something can be deployed.

[2020-11-10 20:26] DaveJarvis commented on #88
It should have been deployed last night, but I may have missed a step. Agreed it isn't very usable without deployment.

[2020-11-10 20:32] ctmay4 commented on #88
Ok, sounds good.  Could it be related to this recent commit where the repository was removed?

https://github.com/robert-bor/aho-corasick/commit/2d7487f75429da8a9c501416434a520c375c2d40#diff-9c5fb3d1b7e3b0f54bc5c4182965c4fe1f9023d449017cece3005d3f90e8e4d8

[2020-11-10 21:34] DaveJarvis commented on #88
No. I would greatly enjoy being able to deploy from the command line, but I wasn't able to make it work. Instead, I deployed through the Nexus UI, but it didn't seem to stick for whatever reason.

![repo](https://user-images.githubusercontent.com/2131950/98736309-7e1fb200-2359-11eb-9491-d8fb387ca377.png)

[2020-11-10 21:47] ctmay4 commented on #88
Sonotype can definitely be frustrating.  I have automated my releases but they sometimes randomly timeout.  Usually if I try 2 or 3 times it will eventually work.  If not you can open a ticket with them.  They have been responsive to me in the past.

[2021-02-28 15:47] avif opened #92 "Release new artifacts to repositories?"
Latest available version on maven central is 0.4.0, the current version seems to be 0.6.2 - can you update the repositories?

[2021-03-01 00:43] DaveJarvis commented on #92
If someone would like to help get this onto Maven Central, please reply.

[2021-03-01 08:25] robert-bor commented on #92
Released the v0.6.3 that Dave put in place.

[2021-03-01 08:25] #92 closed

[2021-03-01 17:01] avif commented on #92
Is there any chance of auto deploying artifacts so that this is not needed anymore?

[2021-03-16 15:10] levant916 opened #93 "onlyWholeWords vs onlyWholeWordsWhiteSpaceSeparated"
I don't know the difference between the two options.
(onlyWholeWords vs onlyWholeWordsWhiteSpaceSeparated)
They return the same result.
What's the difference?

https://www.javadoc.io/doc/org.ahocorasick/ahocorasick/latest/org/ahocorasick/trie/Trie.TrieBuilder.html
![image](https://user-images.githubusercontent.com/8080172/111331844-a4ad7b00-86b4-11eb-9cf0-172edc092024.png)
[code]

[2022-03-08 15:50] Alien2150 opened #95 "Build order calls produce different scan-results"
Putting "addKeywords" in different code spots produces different results. Here is JUnit Test that produces different results with 0.6.3. The Second test fails:

[code]

[2022-03-08 15:55] Alien2150 commented on #95
Btw: This was not happending on 0.4.x

[2022-04-15 17:44] yaoqiangpersonal opened #96 "some question"
in the 'PayloadTrie.constructFailureStates()'. why is ` PayloadState<T> targetState = currentState.nextState(transition);queue.add(targetState);`, rather than 'queue.add(transition);'

[2022-07-25 08:55] hzjust opened #97 "Can you release the OpenHarmony OS JS version？"
I am developing an OpenHarmony application that uses the JavaScript language. Can you support the OpenHarmony JavaScript version? I am willing to participate in the development and look forward to reply.

[2022-07-25 15:50] DaveJarvis commented on #97
This is a Java-based implementation of the Aho-Corasick algorithm. Java and JavaScript are different languages. If you're looking for a JavaScript-based implementation, you'll have to do some searching around.

[2022-07-25 15:50] #97 closed

[2022-07-27 01:13] RMSD commented on #93
Can I start a petition to change this to `onlyPrefix()` where it's only considered a match if the keyword is the leading non whitespace character?

eg.

[code]

[2022-07-27 01:27] RMSD opened #98 "Add Matching Whole Word to the Emit class"
Currently `Emit` returns only the keyword and the start and end indexes of the keyword. I'd like to get the whole word that a match was part of.

Eg:

[code]

[2022-07-27 03:07] RMSD commented on #98
I have it really crudely implemented via emitHandler here:

[code]

[2022-08-13 23:36] DaveJarvis commented on #96
If you have a PR to improve the code, please do so. If you have questions, perhaps StackOverflow can help?

[2022-08-13 23:36] #96 closed